 <div>
   <section id="#home">
     <div class="page-text">
       <p class="body-item">
         DND Initiative Roller is an interactive web-application for Dungeon Masters to easily keep track of initiative during combat encounters. Using the DND 5th Edition API, you can
         search for any creature or monster in the standard edtion, input the number of creatures for the combat encounter, and DND Initiative Roller will automatically tell you the important
         information for each creature,such as, hitpoints, armor, hit die, initiative, and much more.
       </p>
     </div>
   </section>
 </div>
