
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  text-align:center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: black;
  color: red;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: red;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: white;
}

#navbar-search-button {

  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: red;
}

/* this is used to find the center of the page for centering the buttons */
.button-position {
  margin: 0;
  padding-top:10px;
  position: absolute;
  left:50%;
  top: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#navbar-search-button:focus {
  color: red;
  outline: none;
}
.twit-content p {
  margin: 0;
}

.modal-content .modal-author {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
.btn .create-initative{
  /* border: 2px;
  border-color: black;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  display: inline-block;
}
/* square button for creating an intiative, pops up the modal */
.create-initiative{
  color: red;
  border: 2px;
  border-color: red;
  background-color: black ;
  padding: 14px 28px;
  font-size: 16px;
    cursor: pointer;
}

.create-initiative:hover{
  background: #aaaaaa;
  color: white;
  border: 2px;
  border-color: red;
}

.create-initiative:focus {
  outline: none;
}
/* ____________________________________________
Modal for creating initative */
#modal-backdrop {
  position: fixed;
  top: 500;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#search-monster-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.modal-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.modal-input-element input,
.modal-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-input-element textarea {
  min-height: 25px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: black;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: red;
  color:black;
}

.modal-footer .modal-accept-button {

  color: black;
}

.modal-footer .modal-accept-button:hover {
  background-color: red;
  color: black;
}


/*spells CSS*/

.spell-container {
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.spell-box {
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #dfe8eb;
}



.description {
    flex-basis: 300px;
    width: 300px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}
.range {
    flex-basis: 300px;
    width: 300px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}
.materials {
    flex-basis: 300px;
    width: 300px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}
.casting-time {
    flex-basis: 300px;
    width: 300px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}
.spell-content {
    flex: 1 1 80%;
    margin-left: 10px;
}

.spell-content p {
    margin: 0;
}
.spell-content h4{
    text-align:center;
}

.spell-name {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}
.spell-info {
    white-space:nowrap;
}



/*____________________________________________*/
/* About Page  */
.page-text{
  border: 1px solid #333;
  border-radius: 5px;
padding: 10px;
margin:20px;

}
/* ____________________________________________ */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  text-align:center;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: black;
  color: red;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: red;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {

  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

/* this is used to find the center of the page for centering the buttons */
.button-position {

  position: relative;
 /* margin: 0;
  padding-top:10px;
  position: relative;
  left:100px;
  bottom: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.button-container {
  padding-left: 45%;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.modal-content .modal-author {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
.btn .create-initative{
  /* border: 2px;
  border-color: black;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  display: inline-block;
}
/* square button for creating an intiative, pops up the modal */
.create-initiative{
  color: red;
  border: 2px;
  border-color: red;
  background-color: black ;
  padding: 14px 28px;
  font-size: 16px;
    cursor: pointer;
}

.create-initiative:hover{
  background: #f44336;
  color: white;
  border: 2px;
  border-color: red;
}

.create-initiative:focus {
  outline: none;
}
/* ____________________________________________
Modal for creating initative */
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#search-creature-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.modal-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.modal-input-element input,
.modal-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-input-element textarea {
  min-height: 25px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: black;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: red;
  color:black;
}

.modal-footer .modal-accept-button {

  color: black;
}

.modal-footer .modal-accept-button:hover {
  background-color: red;
  color: black;
}


/*____________________________________________*/
/* About Page  */
.page-text{
  border: 1px solid #333;
  border-radius: 5px;
padding: 10px;
margin:20px;

}
/* ____________________________________________ */

.creature-container {
  margin: 50px 5%;
  display: flex;
  flex-wrap: wrap;
}

.creature {
  flex: 0 1 28%;
  display: inline-block;
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #fff;
  width: 25%;
}

textarea {
  resize: none;
}
/*.twit-icon {
  font-size: 24px;
}*/

.creature-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.creature-content p {
  margin: 0;
}

.creature-content .creature-name {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}

.creature-info-container {
  margin: 50px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creature-info {
  flex: 0 1 100%;
  display: inline-block;
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #fff;
  width: 80%;
}

select {
    width: 29%;
    padding: 7px 7px;
    padding-left: 0px;
    border: none;
    border-radius: 5px;
    color:red ;
    background-color:black;
}


.link{
    padding:5px;
    margin: 5px;
    display:table-column;

    border: 1px solid black;
    border-radius: 2px;
}

.important {
  font-weight: bold;
  font-size: 17px;
}

.less-important {
  font-style: italic;
}

